@charset "utf-8";

header {
    position: absolute;
    z-index: 1000;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    padding: 24px 96px;
}

.logo a {
    display: block;
    text-indent: -9999px;
    width: 100px;
    height: 77px;
    background: url('../img/logo.svg') no-repeat center / contain;
}

.gnb {
    display: flex;
    gap: 48px;
    font-family: sweet;
    font-size: 20px;
    font-weight: 500;
}

.util ul {
    display: flex;
    gap: 40px;
}

.lnb {
    display: none;
}

.sub_visual {
    width: 100%;
    height: 500px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/sub_visual.jpg) no-repeat;
}

.sub_visual h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 280px;
    color: white;

}

.breadcrumb {
    width: 1440px;
    margin: 0 auto;
    margin-top: 64px;
}

.breadcrumb_wrap {
    display: flex;
    gap: 32px;
}

.breadcrumb_wrap img {
    opacity: 0.5;
}

.breadcrumb_wrap p {
    border: 1px solid white;
    border-radius: 50px;
    padding: 8px 16px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.breadcrumb_wrap p img {
    margin-left: 16px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

main {
    width: 1440px;
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 200px;
}

.content {
    display: flex;
    gap: 56px;
    align-items: center;
    margin-bottom: 96px;
}

.content img {
    width: 692px;
    height: 500px;
    border-radius: 10px;
}

.content_text ul {
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
}


.content_text li a {
    display: block;
    border: 1px solid #F57B8A;
    border-radius: 50px;
    font-size: 20px;
    
    
    color: #F57B8A;
    padding: 16px;
    min-width: 50px;
    min-height: 50px; 
}  
 
.content_bt li:nth-child(1) a{
    padding:10px 50px 10px 26px;
    background: url(../img/pinkarr.svg) no-repeat 130px center;

}

.content_bt li:nth-child(2) a{
    background: url(../img/map.svg) no-repeat center center;
}

.content_bt li:nth-child(3) a{
    background: url(../img/link.svg) no-repeat center center;
}


/*
.content_text li {
    border: 1px solid #F57B8A;
    border-radius: 50px;
    font-size: 20px;
}

.content_text li:nth-child(1) {
    color: #F57B8A;
    display: flex;
    gap: 16px;
    padding: 16px 16px;
}


.content_text li:nth-child(2) {
    width: 50px;
    height: 50px;
}

.content_text li:nth-child(3) {
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 16px;
}

.content_text ul li span {
    display: inline-block;
    width: 20px;
}

.content_text ul li:nth-child(1) span {
    background: url(../img/pinkarr.svg) no-repeat center 30px / contain;

}

.content_text ul li:nth-child(2) span {
    background: url(../img/map.svg) no-repeat center 30px;
}

.content_text ul li:nth-child(3) span {
    background: url(../img/link.svg) center / contain no-repeat;
}

*/
.content_t {
    display: flex;
    gap: 32px;
    font-size: 20px;
    margin-bottom: 32px;
    line-height: 35px;
}

.content_t p {
    color: #333;
    font-weight: 500;

}

.content_t span {
    color: #555;
    font-weight: 300;
}

.text_dummy {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}


footer {
    width: 100%;
    padding: 0 24px 24px;

}

.footer_wrap {
    background-color: #eee;
    border-radius: 30px;
    padding: 48px;

}

.footer_menu {
    display: flex;
    justify-content: space-between;

}

.list_wrap {
    display: flex;
    gap: 120px;
    padding-right: 48px;
}






.footer_list ul {
    display: block;
    font-size: 16px;
    color: #555;
    font-weight: 400;
    line-height: 35px;
}

.footer_list ul li:first-child {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
}

hr {
    border: 1px solid #ccc;
    margin: 48px 0;
}

.footer_copy {
    display: flex;
    justify-content: space-between;
}

.copy_img {
    background: url(../img/logob.svg) center / contain no-repeat;
    width: 100px;
    height: 77px;
    margin-bottom: 32px;
}

.copy_left ul {
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
}

.copy_left ul li:first-child {
    font-weight: 700;
}

.copy_left p {
    line-height: 1.5;
}


.copy_right a {
    border: 1px solid #333;
    border-radius: 5px;
    display: flex;
    gap: 16px;
    padding: 8px 24px;
    float: right;
    margin-bottom: 32px;
    color: #333;
}


.copy_right a img {
    width: 12px;
    height: 6px;

}


.sns {
    display: flex;
    float: right;
    gap: 8px;
}

.sns li {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
}

.sns li img {
    width: 20px;
    padding: 16px 0;
}