---
---
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="icon" href="img/favicon.svg?">
    <title>동해 한 바퀴</title>
</head>

<body>

    <div id="wrap">


        <!--헤더시작-->
        {% include header.html %}
        <!--헤더끝-->

        <div class="visual_m">

            <div class="visual_video">
                <video class="video_content" autoplay muted loop>
                    <source src="img/main.mp4" type="video/mp4" />
                </video>
            </div>

            <div class="visual_text">
                <h2>푸른 바다와 넓은 백사장</h2>
                <p>동해의 시원한 바다와 넓은 모래사장이 이어지는 대표 해변.</p>
                <a href="#">명소 둘러보기</a>
            </div>

            <div class="page">
                <a href="#">5 / 10</a>
            </div>

            <div class="slide_left"><a href="" #></a></div>
            <div class="slide_right"><a href="" #></a></div>
            <div class="video_bg"></div>

        </div>

        <main>
            <section class="s1">

                <h2><span>동해</span> 여행도우미</h2>
                <div class="helpwrap">

                    <ul class="help">
                        <li><a href="#">
                                <div class="pic"></div>관광안내
                            </a></li>
                        <li><a href="#">
                                <div class="pic"></div>음식점
                            </a></li>
                        <li><a href="#">
                                <div class="pic"></div>동해숙박
                            </a></li>
                        <li><a href="#">
                                <div class="pic"></div>관광책자신청
                            </a></li>
                        <li><a href="#">
                                <div class="pic"></div>관광지도 다운로드
                            </a></li>
                        <li><a href="#">
                                <div class="pic"></div>우리고장특산품
                            </a></li>
                    </ul>

                </div>
            </section>


            <section class="s2">

                <div class="s2_title">

                    <h2>동해의 바다와 자연을 따라 천천히 여행하는 특별한 한바퀴.</h2>


                    <ul class="tap">
                        <li><a href="#">일출 한바퀴</a></li>
                        <li><a href="#">바다 한바퀴</a></li>
                        <li><a href="#">자연 한바퀴</a></li>
                        <li><a href="#">전망 한바퀴</a></li>
                    </ul>

                </div>


                <div class="trip">

                    <div class="trip_content">

                        <div class="trip_img">
                            <img src="img/t1.jpg" alt="">
                        </div>

                        <div class="trip_text">
                            <h5>망상해수욕장</h5>
                            <p>동해의 푸른 바다를<br>
                                가장 가까이 만나는 해변.</p>
                        </div>

                    </div>

                    <div class="trip_content">

                        <div class="trip_img"><img src="img/t2.jpg"></div>

                        <div class="trip_text">
                            <h5>대진해수욕장</h5>
                            <p>한적한 바다와 고요한 풍경이<br>
                                어우러진 여유로운 해변.</p>
                        </div>

                    </div>

                    <div class="trip_content">

                        <div class="trip_img"><img src="img/t3.jpg"></div>

                        <div class="trip_text">
                            <h5>묵호항</h5>
                            <p>바다와 어선이 어우러진<br>
                                동해의 소박한 항구 풍경.</p>
                        </div>

                    </div>

                    <div class="trip_content">

                        <div class="trip_img"><img src="img/t4.jpg"></div>

                        <div class="trip_text">
                            <h5>도째비골 스카이밸리</h5>
                            <p>바다 위를 걷는<br>
                                특별한 경험</p>
                        </div>

                    </div>
                </div>

            </section>



            <section class="s3">

                <div class="left">

                    <div class="s3_title">
                        <h2>축제·행사</h2>
                        <a href="#">더보기</a>
                    </div>

                    <div class="left_content">

                        <div class="left_poster">
                            <a href="#">
                                <img src="img/event1.jpg" alt="">
                                <p>무릉별유천지 라벤더 축제</p>
                            </a>
                        </div>

                        <div class="left_poster">
                            <a href="#">
                                <img src="img/event2.jpg" alt="">
                                <p>무릉별유천지 라벤더 축제</p>
                            </a>
                        </div>

                        <div class="left_poster">
                            <a href="#">
                                <img src="img/event3.jpg" alt="">
                                <p>무릉별유천지 라벤더 축제</p>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="right">

                    <div class="s3_title">
                        <h2>동해 소식</h2>
                        <a href="#">
                            더보기
                        </a>
                    </div>

                    <div class="right_content">
                        <a href="#">
                            <div class="right_poster">



                                <img src="img/news1.jpg" alt="">
                                <div class="right_text">
                                    <p>동해시, 여름 관광 시즌 맞아 해변 체험 프로그램과 다양한 이벤트 운영</p>
                                    <span>2026.04.12</span>
                                </div>


                            </div>
                        </a>

                        <a href="#">
                            <div class="right_poster">



                                <img src="img/news2.jpg" alt="">
                                <div class="right_text">
                                    <p>동해시, 여름 관광 시즌 맞아 해변 체험 프로그램과 다양한 이벤트 운영</p>
                                    <span>2026.04.12</span>
                                </div>


                            </div>
                        </a>

                        <a href="#">
                            <div class="right_poster">



                                <img src="img/news3.jpg" alt="">
                                <div class="right_text">
                                    <p>동해시, 여름 관광 시즌 맞아 해변 체험 프로그램과 다양한 이벤트 운영</p>
                                    <span>2026.04.12</span>
                                </div>


                            </div>
                        </a>


                    </div>



                </div>



            </section>



        </main>



        <!----푸터시작-->
        {% include footer.html %}
        <!----푸터끝-->




    </div>


</body>

</html>