---
---
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/sub.css">
    <link rel="stylesheet" href="css/font.css">
    <title>동해 한 바퀴</title>
</head>

<body>

    <div id="wrap">


        <!--헤더시작-->
        {% include header.html %}
        <!--헤더끝-->


        <div class="sub_visual">

            <h2>동해 명소</h2>

            <div class="breadcrumb">

                <div class="breadcrumb_wrap">

                    <img src="img/home.svg" alt="">

                    <p>동해명소<img src="img/down.svg" alt=""></p>

                    <p>바다명소<img src="img/down.svg" alt=""></p>

                </div>

            </div>

        </div>

        <main>

            <div class="content">

                <img src="img/content1.jpg" alt="">

                <div class="content_text">

                    <h2>망상해수욕장</h2>
                    <ul class="content_bt">
                        <li><a href="#">자세히 보기</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>

                    <div class="content_t">
                        <p>• 주소<br>
                            • 이용시간<br>
                            • 문의처</p>
                        <span>강원 동해시 동해대로 6270-10<br>
                            상시이용 가능<br>
                            033-530-2800</span>
                    </div>
                    <div class="text_dummy">망상해수욕장 은 깨끗한 백사장과 제주도를 연상시키는 푸른 바다를 자랑하는 동해의 대표 해변으로,
                        오토캠핑장과 카라반을 통해 낭만적인 바다 캠핑을 즐길 수 있으며 다양한 축제와 이벤트까지 함께
                        경험할 수 있는 인기 관광지입니다.</div>


                </div>


            </div>

            <div class="content">


                <div class="content_text">

                    <h2>추암 촛대바위</h2>
                    <ul class="content_bt">
                        <li><a href="#">자세히 보기</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>

                    <div class="content_t">
                        <p>• 주소<br>
                            • 이용시간<br>
                            • 문의처</p>
                        <span>강원 동해시 촛대바위길 17-1<br>
                            상시이용 가능<br>
                            033-530-2801</span>
                    </div>
                    <div class="text_dummy">추암 촛대바위 는 애국가 배경으로도 알려진 동해의 대표 해돋이 명소로, 다양한 기암괴석과 함께 촛대처럼
                        솟은 독특한 바위가 장관을 이루며 많은 사진가들이 찾는 곳이다. 또한 ‘능파대’라 불릴 만큼 아름다운 해안 절경을
                        자랑하며, 하늘의 노여움으로 한 남자만 남게 되었다는 전설이 전해 내려오는 상징적인 명소이다.</div>


                </div>

                <img src="img/content2.jpg" alt="">

            </div>

            <div class="content">

                <img src="img/content3.jpg" alt="">

                <div class="content_text">

                    <h2>한섬해변</h2>
                    <ul class="content_bt">
                        <li><a href="#">자세히 보기</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>

                    <div class="content_t">
                        <p>• 주소<br>
                            • 이용시간<br>
                            • 문의처</p>
                        <span>강원 동해시 한섬해안길 9<br>
                            상시이용 가능<br>
                            033-530-2447</span>
                    </div>
                    <div class="text_dummy">한섬해변 은 도심과 가까워 접근성이 뛰어나면서도 한적하고 조용한 분위기를 느낄 수 있는 해변으로,
                        고운 백사장과 푸른 바다, 송림이 어우러진 풍경이 인상적이다. 또한 소나무숲과 관해정, 멀리 보이는 묵호등대까지
                        더해져 산책과 힐링을 즐기기에 좋은 감성적인 바다 명소이다.</div>


                </div>


            </div>

            <div class="content">



                <div class="content_text">

                    <h2>묵호항</h2>
                    <ul class="content_bt">
                        <li><a href="#">자세히 보기</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>

                    <div class="content_t">
                        <p>• 주소<br>
                            • 이용시간<br>
                            • 문의처</p>
                        <span>강원 동해시 일출로 68<br>
                            상시이용 가능<br>
                            033-530-2271</span>
                    </div>
                    <div class="text_dummy">묵호항 은 활선어 판매센터로 유명한 동해의 대표 항구로, 신선한 자연산 수산물을 저렴하게 맛볼 수 있으며
                        현장에서 바로 회로 즐길 수 있어 관광객들에게 인기가 높은 곳이다. 또한 주변에는 망상해수욕장 등
                        다양한 관광 명소가 함께 있어 바다와 먹거리를 동시에 즐기기 좋은 여행지이다.</div>


                </div>
                <img src="img/content4.jpg" alt="">

            </div>





        </main>



        <!--헤더시작-->
        {% include footer.html %}
        <!--헤더끝-->




    </div>


</body>

</html>