<footer>

    <div class="footer_wrap">

        <div class="footer_menu">
            <h2>동해의 풍경을<br>
                한 바퀴 담다</h2>

            <div class="list_wrap">

                <div class="footer_list">
                    <ul>
                        <li><a href="#">동해 명소</a></li>
                        <li><a href="#">바다 명소</a></li>
                        <li><a href="#">자연 명소</a></li>
                        <li><a href="#">전망 명소</a></li>
                        <li><a href="#">숨은 명소</a></li>
                    </ul>
                </div>

                <div class="footer_list">
                    <ul>
                        <li><a href="#">추천 한 바퀴</a></li>
                        <li><a href="#">일출 한 바퀴</a></li>
                        <li><a href="#">바다 한 바퀴</a></li>
                        <li><a href="#">자연 한 바퀴</a></li>
                        <li><a href="#">전망 한 바퀴</a></li>
                    </ul>
                </div>

                <div class="footer_list">
                    <ul>
                        <li><a href="#">맛집</a></li>
                        <li><a href="#">해산물 맛집</a></li>
                        <li><a href="#">동해 물회</a></li>
                        <li><a href="#">바다 카페</a></li>
                        <li><a href="#">로컬 맛집</a></li>
                    </ul>
                </div>

                <div class="footer_list">
                    <ul>
                        <li><a href="#">갤러리</a></li>
                        <li><a href="#">바다 풍경</a></li>
                        <li><a href="#">일출 & 노을</a></li>
                        <li><a href="#">자연 풍경</a></li>
                        <li><a href="#">동해의 순간</a></li>
                    </ul>
                </div>

                <div class="footer_list">
                    <ul>
                        <li><a href="#">여행 정보</a></li>
                        <li><a href="#">교통 안내</a></li>
                        <li><a href="#">여행 팁</a></li>
                        <li><a href="#">지도</a></li>
                        <li><a href="#">축제 &amp; 행사</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <hr>

        <div class="footer_copy">

            <div class="copy_left">

                <ul>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">문의사항</a></li>
                    <li><a href="#">오시는길</a></li>
                </ul>

                <p>TEL. 동해시 관광과 033-123-1234 | 강원특별자치도 동해시 천곡로 77<br>
                    © 2026 동해 한 바퀴
                </p>

            </div>

            <div class="copy_right">

                <div class="site">
                    <a href="#">동해시 관련사이트 </a>
                </div>

                <ul class="sns">
                    <li><a href="#"><img src="img/insta.svg" alt=""></a></li>
                    <li><a href="#"><img src="img/face.svg" alt=""></a></li>
                    <li><a href="#"><img src="img/blog.svg" alt=""></a></li>
                    <li><a href="#"><img src="img/x.svg" alt=""></a></li>
                    <li><a href="#"><img src="img/youtube.svg" alt=""></a></li>

                </ul>



            </div>


        </div>

    </div>


</footer>